/*Mágenes y pagging*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilos para el cuerpo*/
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/*Cabecera*/
header{
    /*background-color: #0065ef;*/
    /*background: linear-gradient(to right, #86a8e7, #0065ef, #86a8e7);*/
    background: linear-gradient(to right, #0065ef, #86a8e7);
    color: white;
    text-align: center;
    padding: 20px;
}

header h1{
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p{
    font-size: 1.2em;
}

header img{
    width: 150px;
    margin-top: 10px;
}

/*Cuerpo principal*/
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/*Sección Introducción*/
#introduccion {
    margin-bottom: 40px;
}

#introduccion h2{
    font-size: 2em;
    margin-bottom: 10px;
}

#introduccion p{
    font-size: 1.1em;
}

/*Seccion de la agenda*/
#agenda {
    margin-bottom: 40px;
}

#agenda h2{
    font-size: 2em;
    margin-bottom: 20px;
}

table {
    width: 50%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #333;
    color: white;
}

/*Seccion Registro*/
#registro {
    margin-bottom: 40px;
}

#registro h2{
    font-size: 2em;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    margin-bottom: 10px;
    font-size: 1.1em;
}

form input, form button {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

form button {
    background-color: #333;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}


/*Pie de página*/
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #accfff;
    text-decoration: none;
    margin: 10px;
}

footer a:hover {
    text-decoration: underline;
}

footer iframe{
    width: 100%;
    height: 300px;
}


/*Estilos responsivos para móviles*/
@media (max-width: 768px){
    header h1{
        font-size: 2em;
    }

    header p {
        font-size: 1em;
    }

    #introduccion h2, #agenda h2, #registro h2 {
        font-size: 1.5em;
    }

    table th, table td {
        font-size: 0.95em;
    }

    form label, form input, form select, form button {
        font-size: 1em;
    }

    footer iframe{
        height: 200px;
    }
}
